<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/meditation.css">
    <title>Easy Life</title>
</head>

<body>
    <section>
        <header>
            <a href="../index.html">
                <h1 id="logo">Easy Life</h1>
            </a>
            <a href="../template/sign-up.html">
                <h2 id="sign-up">Sign-up</h2>
            </a>
        </header>
    </section>
    <main>
        <h2 id="title">Meditation</h2>
        <div id="grid">
            <div id="grid-item-1">
                <a class="page-link" href="meditation/what-is-meditation.html"></a>
                <div>
                    <h2>What is meditation?</h2>
                    <p>A brief explination of the concept</p>
                </div>
            </div>
            <div id="grid-item-2">
                <div>
                    <a class="page-link" href="#"></a>
                    <div>
                        <h2>Why learn to meditate?</h2>
                        <p>A selection of benifits that are associated to meditation</p>
                    </div>
                </div>
            </div>
            <div id="grid-item-3">
                <a class="page-link" href="#"></a>
                <div>
                    <h2>How to meditate</h2>
                    <p>Meditation is something everyone can do, here's how</p>
                </div>
            </div>
            <div id="grid-item-4">
                <a class="page-link" href="#"></a>
                <div>
                    <h2>Basic meditations</h2>
                    <p>These are some basic meditation practices to get you going</p>
                </div>
            </div>
            <div id="grid-item-5">
                <a class="page-link" href="#"></a>
                <div>
                    <h2>Beyond the begging</h2>
                    <p>What to know and where to go when youve started</p>
                </div>
            </div>
    </main>
    <footer>
        <table>
            <tr>
                <td>
                    <p>0712356789</p>
                </td>
                <td>
                    <p>e.witten.2001@gmail.com</p>
                </td>
                <td>
                    <p>221B Baker St, London</p>
                </td>
            </tr>
        </table>
</footer>
</body>