@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family:  roboto, sans-serif;
    color: #3a3a3a;
}
/* header */
header{
    height: 100px;
}
header a:visited{
    color: inherit;
}
h1, h2{
    font-family: montserrat, sans-serif;
    line-height: 125px;
}
#logo{
    float: left;
    font-size: 260%;
    margin-left: 200px;
    cursor: pointer;
}
#sign-up{
    float: right;
    margin-right: 200px;
    font-size: 120%;
}
#sign-up:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* grid */
#grid{
    display: grid;
    grid: 230px 230px 100px/ 350px 350px 350px;
    gap: 20px;

    width: 70%;
    height: 60%;
    margin: 10px auto;

 
}
#grid div{
    color: #3a3a3a;
    border-radius: 10px;
    font-weight: 700;
    position: relative;
    transition-duration: 0.3s;
}
[id^="grid-item-"]:hover{
    filter: drop-shadow(0 0 8px #3a3a3a);
    transition-duration: 0.3s;
}
.page-link{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
#grid div h2, #grid div p{
    width: 70%;
    height: 40%;
    margin: 20px auto;
}