@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family:  roboto, sans-serif;
    color: #3a3a3a;
    background: rgb(255,227,227) url(../images/pexels-scott-webb-213727.jpg) no-repeat center;
    background-size: cover;
}
/* header */
header{
    height: 100px;
}
header a:visited{
    color: inherit;
}
header h1, header h2{
    font-family: montserrat, sans-serif;
    line-height: 125px;
}
#logo{
    float: left;
    font-size: 260%;
    margin-left: 200px;
    cursor: pointer;
}
#sign-up{
    float: right;
    margin-right: 200px;
    font-size: 120%;
}
#sign-up:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* title */
main > h2{
    margin: 20px auto;
    width: fit-content;
    text-align: center;
    padding: 0;
    font-size: 200%;
    font-weight: 500;
}
/* grid */
#grid{
    display: grid;
    grid: 33% 33%/ 1fr 1fr auto;
    gap: 20px;
    width: 60%;
    height: 70vh;
    margin: 80px auto; 
}
#grid div{
    color: #3a3a3a;
    border-radius: 10px;
    font-weight: 700;
    position: relative;
    transition-duration: 0.3s;
}
[id^="grid-item-"]:hover{
    filter: drop-shadow(0 0 8px rgb(250, 189, 189));
    z-index: 0;
    transition-duration: 0.3s;
}
.page-link{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
#grid div h2, #grid div p{
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    background: rgba(225,227,227,.4);
    border-radius: 20px;
}
#grid-item-1{
    grid-row: 1/ 3;

    background-color: rgba(249,227,227,0.5); 
    background-image: url(/assets/images/pexels-miriam-alonso-7592435.jpg);
    background-position: left;
    background-size: 130%;
    background-repeat: no-repeat;
}
#grid-item-2{
    background-color: rgba(249,227,227,0.5); 
    background-image: url(/assets/images/pexels-mikael-blomkvist-4151869.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item-3{
    background-color: rgba(249,227,227,0.5); 
    background-image: url(/assets/images/pexels-polina-tankilevitch-6739056.jpg);
    background-position: center -50px;
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item-4{
    background-color: rgba(249,227,227,0.5); 
    background-image: url(/assets/images/pexels-miriam-alonso-7592443.jpg);
    background-position: center 0px;
    background-size: 250%;
    background-repeat: no-repeat;
}

#grid-item-5{
    background-color: rgba(249,227,227,0.5); 
    background-image: url(/assets/images/pexels-olia-danilevich-8964919.jpg);
    background-position: center -100px;
    background-size: 180%;
    background-repeat: no-repeat;
}
/* 4k repsonse */
@media screen and (max-width:2560px) {
    #logo{
        margin-left: 320px;
    }
    #sign-up{
        margin-right: 320px;
    }
}
/* large laptop response */
@media screen and (max-width:1440px){
    #grid{
        width:70%;
    }
}
/* tablet and small laptop response */
@media screen and (max-width:1024px){
    header{
        height: 50px;
    }
    #logo{
        margin: 30px 0 auto 40px;
    }
    #sign-up{
        margin: 50px 40px auto 0;
    }
    main{
        background: green;
        margin-top: 50px;
    }
    #grid{
        grid: 200px 150px 100px / 200px 200px auto;
        gap: 20px;
        width: 90%;
        height: 300%;
        margin: 30px auto 0 auto;
        padding: 20px 0 0 0 ;
    }
    #grid div p{
        font-size: 100%;
    }
    #grid-item-6{
        width: 85%;
    }
}
/* phone response */
@media screen and (max-width:425px){
    header{
        display: block;
        text-align: center;
    }
    #logo, #sign-up{
        /* background: red; */
        float: none;
        margin: 10px auto;
    }
    main{
        /* background-color: red; */
        overflow-x: hidden;
        width: 100%;
        height: 600%;
        margin: 0 auto;
    }
    #grid{
        grid: 200px 200px 230px 200px 200px 150px / auto;
        column-gap: 40px;
        width: 80%;
        height: 300%;
        margin: 70px auto 0 auto;
        padding: 0 0 0 0 ;
    }
    .page-link{
        left: 0px;
    }
    #grid div{
        padding: 0 0;
        grid-column: 1/2;
        margin: 0 0 ;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    #grid div h2{
        margin-top: 20px;
        height: fit-content;
        text-align: center;
        line-height: auto;
        font-size: 180%;
        padding: 5px;
    }
    #grid div p{
        height: fit-content;
        text-align: center;
        font-size: 120%;
        font-weight: 600;
    }
    #grid-item-1{
        grid-row:1/2;
    }
    #grid-item-2{
        grid-row:2/3;
    }
    #grid-item-3{
        grid-row:3/4;
        float: none;
    }
    #grid-item-4{
        grid-row:4/5;
    }
    #grid-item-5{
        grid-row:5/6;
    }
    #grid-item-6{
        grid-row:6/7;
    }
}