@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');
@import "header.css";

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family:  roboto, sans-serif;
    color: #3a3a3a;
    /* background: #ffe3e3 url(../images/pexels-anthony-shkraba-4612235.jpg) no-repeat center; */
    background-size: cover;
}
/* form */
#sign-up-form{
    width: 50%;
    margin: 100px auto;

    background: rgba(225,227,227,.4);
    border-radius: 20px;
    padding: 5px;
    padding-top: 30px;
    border: 0 none;
    font-size: 110%;
}
#sign-up-form input[type="text"], input[type="email"], input[type="password"]{
    width: 92%;
    display: block;
    border-radius: 20px;
    padding: 5px;
    margin: 5px auto;
    padding-left: 5%;
    border: 2px solid rgb(124, 124, 124);
}
#sign-up-form input[type="text"]:focus, input[type="email"]:focus{
    filter: drop-shadow(0 0 8px #3a3a3a);
    transition-duration: 0.3s;
}
.input-container{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
i{
    position: absolute;
    left: 10px;
    top: 5px;
}
.names::placeholder {
    color: rgba(0,0,0,.8);
    font-size: 120%;
    padding-left: 30px;
}

hr{
    border: 1px solid #3a3a3a;
    width: 80%;
    margin: 20px auto;
}
/* form sex */
form h3{
    width: 60%;
    margin: 5px auto;
    text-align: center;
}
form input[type="radio"]{
    width: max-content;
}
.radio-container{
    width: 80%;
    margin: 0 auto;
}
.radio{
    margin-left: 10%;
}
/* .radio-container label:hover{
    filter: drop-shadow(0 0 8px #3a3a3a);
    transition-duration: 0.3s;
} */
}