@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    zoom: 100%;
}
body{
    font-family:  roboto, sans-serif;
    color: #3a3a3a;
    background: rgb(255,227,227) url(../images/pexels-skylar-kang-6044615.jpg) no-repeat center;
}
/* header */
header{
    height: 100px;
    width: 100%;
}
header a:visited{
    color: inherit;
}
header h1, header h2{
    font-family: montserrat, sans-serif;
    font-size: 150%;
    margin-top: 75px;
    background-color: rgba(225,227,227,.8);
    border-radius: 20px;
    padding: 5px;
}
#back-button{
    float: left;
    position: absolute;
    top:10%;
    left: 10%;
}
#logo{
    float: left;
    font-size: 260%;
    margin-left: 20%;
    cursor: pointer;
}
#sign-up{
    float: right;
    margin-right: 20%;
    font-size: 120%;
}
#sign-up:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* grid */
main{
    width: 80%;
    height: 80%;
    margin: 100px auto;
}
.grid-container{
    width: 80%;
    height: 100%;
    margin: auto;
    
    display: grid;
    grid:100px auto / 100px 500px auto;
    gap: 40px;
}
.grid-container div{
    border-radius: 20px;
}
#back-button{
    color:rgb(255, 164, 164);
    font-size: 300%;
}
.title{
    grid-column: 2 / 4;
    text-align: center;
    font-size: 130%;
    font-weight: 500;
}
.side-image{
    width: 100%;
    grid-column: 2/3;
    background: url(../images/pexels-pixabay-355863.jpg) no-repeat center;
    background-size: cover;
}
.side-text{
    width: 100%;
    grid-column: 3/4;
    font-size: 120%;
    padding: 10px;

    background: rgba(255,227,227,.8);
}
.side-text p{
    margin-top: 20px;
    font-weight: 500;
}