<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/what-is-meditation.css">
    <title>Easy Life</title>
</head>

<body>
    <section>
        <header>
            <a href="../index.html">
                <h1 id=logo>Easy Life</h1>
            </a>
            <h2 id=sign-up>Sign-up</h2>
        </header>
    </section>
    <main>
        <h2>What is Meditation?</h2>
    </main>
    <footer>

    </footer>
</body>

</html>