<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/what-is-meditation.css">
    <title>Easy Life</title>
</head>

<body>
    <section>
        <header>
            <a href="../meditation.html">
                <i id="back-button" class="fas fa-arrow-circle-left"></i>
            </a>
            <a href="../../index.html">
                <h1 id=logo>Easy Life</h1>
            </a>
            <a href="../sign-up.html">
                <h2 id=sign-up>Sign-up</h2>
            </a>
        </header>
    </section>
    <main>
        <div id="grid">
            <div class="title">
                <h2>A brief explanation of the practice</h2>
            </div>
            <div class="side-image">
                <!-- <h2>side image</h2> -->
            </div>
            <div class="side-text">
                <h3>How do you learn to meditate?</h3>
                <p>How do you learn to meditate? In mindfulness meditation, we’re learning how to pay attenti
                    on to the breath as it goes in and out, and notice when the mind wanders from this task.
                    This practice of returning to the breath builds the muscles of attention and mindfulness.
                    When we pay attention to our breath, we are learning how to return to, and remain in, the
                    present moment—to anchor ourselves in the here and now on purpose, without judgement.
                    The idea behind mindfulness seems simple—the practice takes patience. Indeed, renowned med
                    itation teacher Sharon Salzberg recounts that her first experience with meditation showed
                    her how quickly the mind gets caught up in other tasks. “I thought, okay, what will it be,
                    like, 800 breaths before my mind starts to wander? And to my absolute amazement, it was one
                    breath, and I’d be gone,” says Salzberg.</p>
            </div>
        </div>
    </main>
    <footer>
        <table>
            <tr>
                <td>
                    <p>0712356789</p>
                </td>
                <td>
                    <p>e.witten.2001@gmail.com</p>
                </td>
                <td>
                    <p>221B Baker St, London</p>
                </td>
            </tr>
        </table>
</footer>
</body>

</html>
<script src="https://kit.fontawesome.com/cc842db5d3.js" crossorigin="anonymous"></script>