<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/what-is-meditation.css">
    <title>Easy Life</title>
</head>

<body>
    <section>
        <header>
            <a href="../../index.html">
                <h1 id=logo>Easy Life</h1>
            </a>
            <h2 id=sign-up>Sign-up</h2>
        </header>
    </section>
    <main>
        <h2>What is Meditation?</h2>
        <div class="text-container">
            <div class="side-image">
                <!-- <img src="../../assets/images/pexels-pixabay-355863.jpg"> -->
            </div>
            <div class="text">
                <h2>What is Meditation?</h2>
                <p>How do you learn to meditate? In mindfulness meditation, we’re learning how to pay attention to the breath as it
                     goes in and out, and notice when the mind wanders from this task. This practice of returning to the breath builds 
                     the muscles of attention and mindfulness.
                    When we pay attention to our breath, we are learning how to return to, and remain in, the present moment—to anchor
                     ourselves in the here and now on purpose, without judgement.
                    The idea behind mindfulness seems simple—the practice takes patience. Indeed, renowned meditation teacher Sharon Salzb
                    erg recounts that her first experience with meditation showed her how quickly the mind gets caught up in other tasks.
                     “I thought, okay, what will it be, like, 800 breaths before my mind starts to wander? And to my absolute amazement, it w
                     as one breath, and I’d be gone,” says Salzberg.</p>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>